@font-face {
  font-family: BerkeleyMono;
  src: url("/fonts/BerkeleyMono-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: BerkeleyMono;
  src: url("/fonts/BerkeleyMono-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: BerkeleyMono;
}
.wrapper {
  display: grid;
  padding-left: 10px;
}